@model Store
  
                <div class="col-md-4">
                    <img src="@Model.Logo" width="300%" length="20%"">
                </div>

                <div>         
                  <p class="card-text"><b>Item: </b>@Model.Name</p>
                    <p class="card-text"><b>Category: </b>@Model.Address</p>
                    <p class="card-text"><b>Specification: </b>@Model.EmailAdress</p>
                    <p class="card-text"><b>Price: </b>@Model.ContactsDetails</p>
                </div>
